.header {
  position: absolute;
  background: #222;
  color: white;
  height: 150px;
  top: 0px;
  left: 0px;
  width: 100vw;
  border-bottom: 1px solid grey;
  box-sizing: border-box;
  z-index: 2;
}
